.popup__title {
  margin: 0;
  margin-bottom: 47px;
  text-align: center;
  color: #000;

  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 1000px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 75px;
  }
}
