.profile__add-button {
  background: url('../../../images/add.svg') no-repeat center;
  background-size: 22px 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.4s ease;
}

@media screen and (max-width: 1000px) {
  .profile__add-button {
    margin: 32px auto 0;
    width: 282px;
    background-size: 16px 16px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}
