.popup-zoom__title {
  margin: 0;
  margin-top: 10px;

  color: #fff;
  background: inherit;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
