.popup__container {
  background-color: #fff;
  position: relative;
  padding: 34px 36px 37px;
  max-width: 430px;
  box-sizing: border-box;
  width: 33.6%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1135px) {
  .popup__container {
    width: 88.125%;
    padding: 25px 22px;
  }
}
