@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/body/body.css);

/* HEADER */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__button/profile__button.css);

@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__container/profile__container.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__button/elements__button.css);
@import url(./blocks/elements/__button/_active/elements__button_active.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__container/elements__container.css);
@import url(./blocks/elements/__trash-button/elements__trash-button.css);
@import url(./blocks/elements/__likes-counter/elements__likes-counter.css);
@import url(./blocks/elements/__likes-container/elements__likes-container.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__title/_type_confirm-delete/popup__title_type_confirm-delete.css);
@import url(./blocks/popup/__icon/popup__icon.css);

/* SIGN */
@import url(./blocks/sign/sign.css);
@import url(./blocks/sign/__button/sign__button.css);
@import url(./blocks/sign/__form/sign__form.css);
@import url(./blocks/sign/__input/sign__input.css);
@import url(./blocks/sign/__title/sign__title.css);
@import url(./blocks/sign/__link/sign__link.css);

/* импорт ниже, для видимости */
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);

@import url(./blocks/popup-zoom/popup-zoom.css);
@import url(./blocks/popup-zoom/__container/popup-zoom__container.css);
@import url(./blocks/popup-zoom/__title/popup-zoom__title.css);
@import url(./blocks/popup-zoom/__image/popup-zoom__image.css);

@import url(./blocks/popup/_opened/popup_opened.css);
/* импорт opened ниже всех, чтобы перекрывал стили */

@import url(./blocks//main/main.css);
