.profile__button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profile__button:hover {
  background: center no-repeat url('../../../images/editb.svg');
  background-size: 26px 26px;
  cursor: pointer;
}
