.header__button {
  text-decoration: none;
  color: #a9a9a9;
  border: none;

  margin: 0;
  padding: 0;
  margin-top: 8px;
  background: transparent;
  transition: opacity 0.4s ease;
  cursor: pointer;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}

.header__button:hover {
  opacity: 0.6;
  /* color: red; */
}
